@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #fd7210;
  --secondary: #fee140;
  --layer-fill: #f9fafb;
  --text-color: #4b5563;
  --gradient-primary-secondary: linear-gradient(
    90deg,
    var(--primary),
    var(--secondary)
  );
}

.dark {
  --layer-fill: #1f2937;
  --text-color: #9ca3af;
}
#root {
  width: 100%;
}
