@import "tailwindcss";
:root {
  --primary: #fd7210;
  --secondary: #fee140;
  --gradient-primary-secondary: linear-gradient(
    90deg,
    var(--primary),
    var(--secondary)
  );
}

#root {
  width: 100%;
}
